/* regist & update style */
.Todo-header > *:nth-child(2) {
  margin-right: 144px;
}

.Todo-titleInput[type="text"]::placeholder {
  font-size: 30px;
  font-weight: bold;
  color: #666;
}

.Todo-contentInput::placeholder,
.Todo-contentInput {
  font-size: 20px;
  color: #666;
}

.Todo-titleInput[type="text"] {
  border: 0;
  font-size: 30px;
  font-weight: bold;
  margin: 37px 0 21px 0;
  border-bottom: 2px solid #6174db;
  padding: 3px 0;
}

.Todo-contentInput {
  background-color: #eceefb;
  height: 350px;
  overflow-y: scroll;
  padding: 25px 25px;
  border: 0;
  border-radius: 5px;
}

.Todo-button {
  background-color: #6174db;
  color: #fff;
  font-family: "INESeedKR-Bd", sans-serif;
  font-size: 20px;
  padding: 7px 28px;
  border-radius: 10px;
  margin-left: auto;
  display: block;
  margin-top: 26px;
}
